<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./vendor/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="GeoIP2 Test Suite">
      <directory suffix="Test.php">./tests/GeoIp2/Test/</directory>
    </testsuite>
  </testsuites>
</phpunit>
