<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="author" content="MaxMind, Inc.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//www.maxmind.com/css/maxmind.css" rel="stylesheet">
  <link href="//dev.maxmind.com/css/dev.maxmind.com.css" rel="stylesheet">
  <link href="//dev.maxmind.com/css/highlight-github.css" rel="stylesheet" >
  <link rel="shortcut icon" href="//dev.maxmind.com/static/favicon.ico">
  <script src="//dev.maxmind.com/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-171943-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
	<title>{{ page.title }}</title>
</head>
<body>

<div class="container">
  <div class="row-fluid">
    <div class="span7">

      <ul class="nav nav-tabs">
        <li class="active">
          <a href="index.html">Overview</a>
        </li>
        <li>
          <a href="doc/{{ page.version }}/">API</a>
        </li>
        <li>
          <a href="https://github.com/maxmind/GeoIP2-{{ page.language }}">GitHub</a>
        </li>
        <li>
         <a href="http://dev.maxmind.com/geoip/geoip2/web-services">Web Services</a>
        </li>
        <li>
          <a href="http://www.maxmind.com">MaxMind</a>
        </li>
      </ul>

    </div>
  </div>


	  {{ content }}
</div>

</body>
</html>
