<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="author" content="MaxMind, Inc.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//www.maxmind.com/css/maxmind.css" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/pygments.css"/>
  <link rel="shortcut icon" href="//dev.maxmind.com/static/favicon.ico">


  <title>{{ page.title }}</title>
</head>
<body>

<div class="container">
  <div class="row-fluid">
    <div class="span7">

      <ul class="nav nav-tabs">
        <li class="active">
          <a href="index.html">Overview</a>
        </li>
        <li>
          <a href="doc/{{ page.version }}/">API</a>
        </li>
        <li>
          <a href="https://github.com/maxmind/GeoIP2-{{ page.language }}">GitHub</a>
        </li>
        <li>
         <a href="http://dev.maxmind.com/geoip/geoip2/web-services">Web Services</a>
        </li>
        <li>
          <a href="http://www.maxmind.com">MaxMind</a>
        </li>
      </ul>

    </div>
  </div>


    {{ content }}
</div>

</body>
</html>
